

*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

}

html{
  height:100%;
  background:black;
}

body{
  height:100%;
  overflow:hidden;
  cursor: pointer;
}
#cursor{
  color:white;
}
#outputwrapper {
      display:block;
      color: white;
      font-size: 2.5em;
      font-family: monospace;
      position: fixed;
      bottom: 10%;
      padding: 1em;
      font-weight: lighter;

    }

@media only screen and (max-width: 900px){
    #outputwrapper{
        font-size: 1em;
        font-family: monospace;

      }
}
